h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.paragraph {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.infobox{
    font-family: ;
    font-size: ;
    background-color;
    float:
}